@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: fit-content;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: Nunito, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

em {
  font-style: normal;
  white-space: nowrap;
  font-size: 110%;
  letter-spacing: 1.2px;
}

.timelineItemContent {
  p {
    margin: 8px 0;
  }
  ul {
    list-style: disc;
    list-style-position: inside;

    &:nth-of-type(2) {
      list-style: none;
    }

    li {
      padding: 5px 0;

      span {
        padding-right: 6px;

        &:nth-of-type(3), &:nth-of-type(4) {
          font-style: italic;
        }
      }
    }
  }
}
